In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("Employee_Payroll - Employee_Payroll - Employee_Payroll - Employee_Payroll.csv")
df

,Fiscal Quarter,Fiscal Period,First Name,Last Name,Middle Init,Bureau,Office,Office Name,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,1,2016Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,"$20,088.00",9510200.0,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2,2016Q2,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,"$23,436.00",9510200.0,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,3,2016Q3,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,"$20,422.82",9510200.0,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,4,2016Q4,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,"$23,904.80",9510200.0,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
4,1,2017Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,"$20,745.80",9510200.0,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25411,3,2016Q3,NATASHA,CARTER,NaN,Bureau of Admin.,1011.0,OFFICE CHIEF ADMIN OFFICER,907,Clerk V,"$10,546.96",9518074.0,7b90e22a-5aa5-4579-92a6-afd45e311d93,03/26/2001
25412,3,2016Q3,BRIDGETT,CARTER,NaN,Bureau of Health,4895.0,DEPARTMENT OF PUBLIC HEALTH,4091,Public Health Educator Senior,"$16,145.91",9520407.0,39c6d0e1-3cc0-41cd-aed4-c0827d76cfe9,04/06/1987
25413,3,2016Q3,JANINE,CARTER,NaN,Bureau of Health,4890.0,BUREAU OF HEALTH,6489,Call Center Cust Sevice Rep,"$7,264.80",9520416.0,46b13332-8254-4961-b59a-55acf3017e6f,09/21/2015
25414,3,2016Q3,CHARLES,CARTER,E,Bureau of Health,4897.0,STROGER HOSPITAL OF COOK CNTY,2417,Hospital Security Officer I,"$12,145.60",9520476.0,00883ca4-5cc2-460d-b02c-4d5d73e64b83,01/12/2004
25415,3,2016Q3,LATONYIA,CARTER,M,Bureau of Health,4897.0,STROGER HOSPITAL OF COOK CNTY,1967,Transpor,NaN,NaN,NaN,NaN

1. Remove the **'$'** and **‘,’** signs from the **'Base Pay'** column and change the column's data type to float (Use pandas for this and not excel)

In [5]:
df["Base Pay"]=df["Base Pay"].str.replace("$","")
df["Base Pay"]=df["Base Pay"].str.replace(",","")

<ipython-input-5-8379c1f7fa87>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Base Pay"]=df["Base Pay"].str.replace("$","")

In [6]:
df.dtypes

Fiscal Quarter           int64
Fiscal Period           object
First Name              object
Last Name               object
Middle Init             object
Bureau                  object
Office                 float64
Office Name             object
Job Code                 int64
Job Title               object
Base Pay                object
Position ID            float64
Employee Identifier     object
Original Hire Date      object
dtype: object

In [7]:
df["Base Pay"]=df["Base Pay"].astype("float")
df['Original Hire Date'] = pd.to_datetime(df['Original Hire Date'])
df.dtypes

Fiscal Quarter                  int64
Fiscal Period                  object
First Name                     object
Last Name                      object
Middle Init                    object
Bureau                         object
Office                        float64
Office Name                    object
Job Code                        int64
Job Title                      object
Base Pay                      float64
Position ID                   float64
Employee Identifier            object
Original Hire Date     datetime64[ns]
dtype: object

In [23]:
df.isnull().sum()

Fiscal Quarter             0
Fiscal Period              0
First Name                 0
Last Name                  0
Middle Init            10317
Bureau                     0
Office                     0
Office Name                0
Job Code                   0
Job Title                  0
Base Pay                   0
Position ID                0
Employee Identifier        0
Original Hire Date         0
dtype: int64

In [21]:
df = df.dropna(subset=['Office'])
df = df.dropna(subset=['Base Pay'])
df = df.dropna(subset=['Position ID'])

2. Create a column 'Fiscal Year' in which you will get the 'Fiscal Year' from the 'Fiscal Period' column.

In [27]:
df["Fiscal Year"] = df["Fiscal Period"].str[:4]
df["Fiscal Year"] = df["Fiscal Year"].astype("int")

3. Remove the columns ‘Middle Init’, ’Office’, ’Job Code’, and ‘Position ID’ from the DataFrame.

In [28]:
df.drop(columns=['Middle Init','Office','Job Code','Position ID'],inplace=True)

4. Get the count of unique values for the columns 'Fiscal Year', ' Office Name', 'Job Title', and 'Bureau'

In [30]:
print("Unique values for Fiscal Year:", df['Fiscal Year'].nunique())
print("Unique values for Office Name:", df['Office Name'].nunique())
print("Unique values for Job Title:", df['Job Title'].nunique())
print("Unique values for Bureau:", df['Bureau'].nunique())

Unique values for Fiscal Year: 2
Unique values for Office Name: 74
Unique values for Job Title: 824
Unique values for Bureau: 23

7. How many Job Titles contain 'Service' in it?

In [31]:
service_titles = df['Job Title'].str.contains('Service')
num_service_titles = service_titles.sum()
print(num_service_titles)

340

8. Print the Highest 'Base Pay' of every 'Office Name'.

In [32]:
df.groupby('Office Name')['Base Pay'].max()

Office Name
ADMINISTRATIVE HEARING BOARD       13336.66
ADULT PROBATION DEPT.              31928.40
AMBULATORY COMMUNITY HLTH NTWK     74039.00
BOARD OF REVIEW                    33387.20
BOH SERVICES CORE CENTER           43236.20
                                    ...
STATES ATTORNEY                    51904.72
STROGER HOSPITAL OF COOK CNTY     179589.32
SUPPORTIVE SERVICES                16359.73
TECHNOLOGY POLICY AND PLANNING     34192.34
THIRD DISTRICT                     22884.61
Name: Base Pay, Length: 74, dtype: float64

9. Create a Dataframe having 'Original Hire Date' as its index and  'Job Title' and 'Base pay' are columns

In [33]:
df2 = df.set_index('Original Hire Date')[['Job Title','Base Pay']]
df2

                                         Job Title  Base Pay
Original Hire Date
2005-05-16              Assistant State's Attorney  20088.00
2005-05-16              Assistant State's Attorney  23436.00
2005-05-16              Assistant State's Attorney  20422.82
2005-05-16              Assistant State's Attorney  23904.80
2005-05-16              Assistant State's Attorney  20745.80
...                                            ...       ...
1999-09-27          Rapid Response Team Specialist  16253.37
2001-03-26                                 Clerk V  10546.96
1987-04-06           Public Health Educator Senior  16145.91
2015-09-21             Call Center Cust Sevice Rep   7264.80
2004-01-12             Hospital Security Officer I  12145.60

[25179 rows x 2 columns]

10. Find the average 'Base pay' of every 'Fiscal Year’.

In [34]:
df.groupby('Fiscal Year')['Base Pay'].mean()

Fiscal Year
2016    16752.796101
2017    17748.577053
Name: Base Pay, dtype: float64

11 Create 3 DataFrames 'df_2016', 'df_2017', and 'df_2018' where each dataframe will contain data only from those 'Fiscal Year’.

In [37]:
df_2016 = df["Fiscal Year"][df["Fiscal Year"] == 2016]
df_2017 = df["Fiscal Year"][df["Fiscal Year"] == 2017]
df_2018 = df["Fiscal Year"][df["Fiscal Year"] == 2018]

print(df_2016)
print(df_2017)
print(df_2018)

0        2016
1        2016
2        2016
3        2016
7        2016
         ...
25410    2016
25411    2016
25412    2016
25413    2016
25414    2016
Name: Fiscal Year, Length: 12889, dtype: int64
4        2017
5        2017
6        2017
11       2017
12       2017
         ...
25307    2017
25308    2017
25309    2017
25310    2017
25311    2017
Name: Fiscal Year, Length: 12290, dtype: int64
Series([], Name: Fiscal Year, dtype: int64)

12. Get all the details where 'Job Title' is 'Operating Engineer II' and the 'Base Pay' is less than 29000 and greater than 25000

In [38]:
df_filtered = df[(df['Job Title'] == 'Operating Engineer II') & (df['Base Pay'] < 29000) & (df['Base Pay'] > 25000)]
print(df_filtered)

       Fiscal Quarter Fiscal Period First Name Last Name  \
10398               2        2016Q2      BRIAN    BARRON
10420               4        2016Q4      BRIAN    BARRON
10445               2        2017Q2      BRIAN    BARRON
10466               4        2017Q4      BRIAN    BARRON

                      Bureau               Office Name              Job Title  \
10398  Facilities Management  DEPT. OF FACILITIES/MGMT  Operating Engineer II
10420  Facilities Management  DEPT. OF FACILITIES/MGMT  Operating Engineer II
10445  Facilities Management  DEPT. OF FACILITIES/MGMT  Operating Engineer II
10466  Facilities Management  DEPT. OF FACILITIES/MGMT  Operating Engineer II

       Base Pay                   Employee Identifier Original Hire Date  \
10398   26566.4  28cf5110-2bb2-470d-abd8-154cca28eead         1996-07-08
10420   26566.4  28cf5110-2bb2-470d-abd8-154cca28eead         1996-07-08
10445   26566.4  28cf5110-2bb2-470d-abd8-154cca28eead         1996-07-08
10466   27098.4  28cf5110-2bb2-470d-abd8-154cca28eead         1996-07-08

       Fiscal Year
10398         2016
10420         2016
10445         2017
10466         2017

13. Concat the above 3 Dataframes created  'df_2016', 'df_2017', and 'df_2018', to create a new DataFrame.

In [40]:
df_combined = pd.concat([df_2016, df_2017, df_2018])
print(df_combined)

0        2016
1        2016
2        2016
3        2016
7        2016
         ...
25307    2017
25308    2017
25309    2017
25310    2017
25311    2017
Name: Fiscal Year, Length: 25179, dtype: int64

14. Get all the details of Employees whose 'Base Pay' is the minimum or 'Base Pay' is the maximum

In [41]:
min_pay = df['Base Pay'].min()
max_pay = df['Base Pay'].max()

df_fil = df[(df['Base Pay'] == min_pay) | (df['Base Pay'] == max_pay)]
print(df_fil)

       Fiscal Quarter Fiscal Period First Name Last Name            Bureau  \
1383                4        2016Q4    MUNEEZA      AFIF  Bureau of Health
20287               2        2017Q2       SEAN    BRYANT  Bureau of Health

                          Office Name                  Job Title   Base Pay  \
1383   AMBULATORY COMMUNITY HLTH NTWK     Attending Physician VI  -19562.15
20287   STROGER HOSPITAL OF COOK CNTY  Attending Physician IX-SC  179589.32

                        Employee Identifier Original Hire Date  Fiscal Year
1383   7e5eab7f-a079-4747-9cd6-ecb2b0dd7ebc         2012-07-01         2016
20287  09199b7a-84ba-4d36-bd56-4a6b02df1851         2004-07-12         2017

15. For each ‘Office Name’ and ‘Job Title’  find the first and second highest  'Base Pay'  salary.

In [43]:
df.groupby(['Office Name', 'Job Title'])['Base Pay'].nlargest(2)

Office Name                   Job Title
ADMINISTRATIVE HEARING BOARD  Administrative Assistant III   10095    13336.66
                                                             10046    13336.64
                              Administrative Hearings Clerk  19656     8859.89
                                                             19520     7594.20
ADULT PROBATION DEPT.         Admin Assistant I              10969    14987.03
                                                                        ...
THIRD DISTRICT                Aide to the Commissioner I     12470    21992.74
                              Commissioners Staff            12465    21667.73
                                                             12463    21242.83
                              County Commissioner            21901    22884.61
                                                             21942    22884.61
Name: Base Pay, Length: 2336, dtype: float64